.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  margin: 40px;
  /* border: 1px solid rgb(225, 222, 222); */
}

.mainBackground {
  border: 1px solid rgb(225, 222, 222);
  border-radius: 10px;
  background-color: rgb(249, 245, 245);
  margin-top: 100px;
}

.mainTitle {
  display: contents;
  color: lightgrey;
  font-weight: 600;
  font-size: 34px;
  margin-top: 200px;
}

.text {
  color: rgb(80, 80, 80);
}

/* Conteneur principal */
.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 1500px;
}

/* Logo des expériences/formations */
.logoExperience {
  display: block; 
  width: 200px; 
  min-width: 200px;
  height: 150px;
  object-fit: cover;
  object-position: left;
  border: 1px solid lightgrey;
  border-radius: 5px; 
  margin: 60px;
}



/* Contenu principal */
.mainContent {
  width: 70%;
  margin-top: 50px;
}

.mainContent h3 {
  margin-bottom: 5px;
  font-size: 22px;
  color: black;
  font-weight: 600;
}

/* Missions ou compétences techniques */
.content {
  background-color: lightyellow;
  border-radius: 8px;
  padding: 20px;
  width: 70%;
  margin-top: 35px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.content h3 {
  font-size: 16px; 
  color: #555;
  margin-bottom: 10px;
}

.content ul {
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  margin-top: 10px;
}

/* Diplôme */
.diplomaImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.diplomaButton {
  font-size: 12px; 
  padding: 5px 10px; 
  min-width: auto; 
  border-radius: 4px; 
}
